:root {
    --colorI: #1d3c45;
    --colorII: #d2601a;
    --colorIII: rgb(25, 70, 153)
    /* #fff1e1; */
}
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--colorI);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(241, 179, 8, 0.308);
}

/* HEADER / NAV BAR */
header {
    background-image: url(../images/header-img.jpg);
    background-size: cover;
    background-position: 10% 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    position: sticky;
    top: 0;
    z-index: 9999;
 }
header h1 {
    font-size: 45px;
    padding-left: 50px;
    padding-bottom: 50px;
    flex: 1 30%;
    color: white;
    
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 50px;
    padding-bottom: 50px;
}
header nav ul li a {
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    flex: 4 70%;
}
header h2 {
    color:var(--colorII);
    position: absolute;
    top: 160px;
    right: 300px;
    
}

/* MAIN SECTION */
.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

/* ABOUT ME */
.aboutme {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 40px;
}
.aboutme p {
    flex: 4 80%;
    padding: 20px;
}

/* WORK SECTION */
.work {
    display: flex;        
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}
/* TRYING TO GET LINKS-GROUP TO ALIGN WITH P AND CONTACT INFO */
.links-group {
    flex: 4 80%;
    flex-wrap: wrap;
    display: flex;
}
.work-links {
    color: var(--colorI);
    background-color: var(--colorII);
    width: 400px;
    margin: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    border: solid 8px var(--colorII);
    display: flex;
    /* align text to bottom of .work-links */
    align-items: flex-end; 
    /* to give work-items min/max height */
    min-height: 250px;
    max-height: 250px;
    flex-basis: calc(50% - 30px);
    /* min-width: 150px; */
}
.work-links div {
    background-color: var(--colorII);
    padding: 8px;
    font-size: 20px;
}

/* TRYING TO ISOLATE FIRST WORK LINK TO  */
/* .work-links:first-child {
    min-height: 400px;
    flex-basis: 100%;
} */


/* ADD IMAGES TO EACH WORK LINK */
.runbuddy {
    background-image: url("../images/runbuddy.jpeg");
    min-height: 400px;
    flex-basis: 100%;
    background-size: cover;
    background-position-x: right; 
}
.surf {
    background-image: url("../images/surf.jpg");
    background-position: 30% 40%;
}
.LED {
    background-image: url("../images/LED.jpg");
    background-position: 50%;
    background-size: cover;
}
.calc {
    background-image: url("../images/calculator.jpg");
    background-size: cover;
}
.pastel {
    background-image: url("../images/pastel.jpg");
    background-size: cover;
}

/* BEGIN CONTACT ME SECTION */
.aboutme address {
    display: flex;
    flex-wrap: wrap;
}
.contactinfo {
    display: flex;
    flex-wrap: wrap;
    flex: 4 80%;
    padding: 20px;
}
.contactinfo a {
    border-bottom: solid 5px var(--colorI);
    padding-bottom: 5px;
}
address div {
    padding: 20px;
    font-size: 20px;
}


/* RESUME SECTION */
.resume-link {
    flex: 4 80%;
    padding: 20px;
}


/* FOOTER STYLING */
h5 {
    text-align: center;
    
}


/* UTILITIES */
.allh3 {
    flex: 1 20%;
    text-align: end;
    padding: 10px;
    font-size: 30px;
    border-right: solid 3px var(--colorI);
}
a {
    text-decoration: none;
    color: var(--colorI);
}


/* MEDIA QUERY  */